NODE_ENV=production
PORT=3000
API_PORT=3001

# Banco existente no Dokploy
DB_HOST=iptv-iptvdb-smznrv
DB_PORT=3306
DB_USER=root
DB_PASSWORD=troque-esta-senha
DB_NAME=DBStream

# Segredos da aplicacao
JWT_SECRET=78992b15d6fb48295e46e023ab626fdf10e327ad30d847c5ca06b9c18d7dc398
JWT_EXPIRES_IN=7d
NEXTAUTH_SECRET=71e26be8910a92f63d1419698e4a4496985c07b636702da7741805c6e0165408

# Dominio publico da aplicacao
NEXTAUTH_URL=https://iptv.kmkzclan.com
APP_URL=https://iptv.kmkzclan.com
CORS_ORIGIN=https://iptv.kmkzclan.com

# API interna no mesmo container
API_URL=http://127.0.0.1:3001
SESSION_COOKIE_SECURE=true
